*{
    text-align: center;
}

body{
    background: #4e4d4d;
    color: white;
    display: grid;
    grid-template-columns: 3fr 10fr;
    width:100vw;
}

/* NAV */
nav{
    padding: 20px 15%; 
    border-right: solid 1px white;
    height:100vh;
}

nav {
    justify-content: space-around;
    width: 80%;
    margin: auto;

}
nav div{
    margin-bottom: 20px;
}

nav input {
    width: 5px;
    margin: auto;
}

.smeters {
    display: flex;
}

.from {
    margin-right: 1rem;
}

.search {
    background-color: rgba(255, 166, 0);
    height: 2rem;
    border-radius: 5px;
}

/* PROPERTIES */
.propertiesTotal {
    padding: 2rem 0rem;
}

.item_container {
    padding: 0px 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    margin: auto;
    background: rgba(255, 255, 255, 0.068);
    box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.39);
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}
.propertiesList {
    padding: 10px 20px;
}

.item p{
    margin: 0px
}